<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/bootstrap/bootstrap.less" />

  <script src="{{ STATIC_URL }}js/libs/less.js"></script>
  <script src="{{ STATIC_URL }}js/libs/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.min.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase-auth-client.js"></script>
  <script src="{{ STATIC_URL }}js/libs/angularFire.js"></script>
  <script src="{{ STATIC_URL }}js/modules.js"></script>
  <script src="{{ STATIC_URL }}js/app.js"></script>
  <script src="{{ STATIC_URL }}js/directives.js"></script>
  <script src="{{ STATIC_URL }}js/animations.js"></script>
  <script src="{{ STATIC_URL }}js/controllers.js"></script>

</head>

<body>
  {% block content %}{% endblock %}
</body>
</html>
